.timeline-container {
    display: flex;
    width: 90vw;
    max-width: 3500px;
    min-width: 360px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;

    transition: width 0.05s ease-in-out;
}

@media  (max-width: 1300px) {
    .timeline-container {
        width: 100%;
    }
    
}

.top-bar {
    background-color: var(--c-lightest);
    border: 2px solid var(--c-border);
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 7px 7px 0 0;

    padding: 3px;

    --top-bar-item-height: 24px;

    .anim-btn-group {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: var(--xxs);
        margin: 0;
    }

    .time-control {
        position: absolute;
        right: 3px;
        display: flex;
        align-items: center;
        gap: 3px;

        height: var(--top-bar-item-height);

        img {
            background-color: var(--c-button);
            border-radius:  var(--r-radius-button) 0 0 var(--r-radius-button);
            padding: 4px;
            height: 100%;
            box-sizing: border-box;
        }

        input {
            height: 100%;
            box-sizing: border-box;

            background-color: var(--c-button);
            border-radius:  0 var(--r-radius-button) var(--r-radius-button) 0;
            color: var(--c-body-text);
            border: none;
            border-radius: 0 5px 5px 0;
        }
    }
}

.obj-timeline-container {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--c-lightest);
    overflow-y: auto;
}

/* ----------- objekte ----------- */
.object-list {
    width: 25%;
    max-width: 250px;
    min-width: 0;
    box-sizing: border-box;
    padding: var(--s);
    color: var(--c-body-text);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--s);
    align-items: flex-end;
    
    overflow: visible; 
    height: auto; 

    span{
        display: flex;
        gap : var(--xxs);
        align-items: end;

        p {
            white-space: nowrap;
            margin-bottom: 2px;
        }

        h2 {
            margin: 0;
            color: var(--c-header);
            text-align: right;
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #object-count {
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--c-body-text);
        }
    }

    .object-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
        min-height: 1.2em;
    }
}


/* ----------- timeline ----------- */
.timeline {
    position: relative;
    width: 100%;

    min-width: 250px;
    margin-right: 10px;

    min-height: 100%;
    background-color: var(--c-lighter);
    border: 1px solid #333;
    cursor: pointer;
    /*Text aiuswahl verbieten --> drag "doppelt" belegt*/
    user-select: none;
}

/* Skala*/
.grid-line {
    position: absolute;
    top: 20px;
    bottom: 0;
    width: 1px;
    background-color: #333;
}

.grid-line::before {
    content: attr(data-label);
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem; 
    color: var(--c-body-text);
    white-space: nowrap;
    pointer-events: none;
}

/* interaktive Nadel (Scrubber) */
#scrubber {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--c-accent-border);
    pointer-events: none; /* Verhindert, dass die Nadel Maus-Events blockiert */
    z-index: 10;
}

/* Kopf der Nadel */
#scrubber::before {
    content: attr(data-percent);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--c-accent-border);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
}